html.dark {
  --base-color: white;

  // —————————————————————————— 覆盖Element —————————————————————————— //

  --el-bg-color: #242424; //分割线背景
  --el-transition-duration: 0; //过渡
  --el-transition-duration-fast: 0 !important; //过渡
  --el-color-primary: #960018; //主题色：primary

  // —————————————————————————— Blog页面 —————————————————————————— //

  --blog-backgorund: #000000; //整体背景颜色
  --boxShadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12); //boxShadow

  /**
   * 侧边栏
   */

  --blog-block-backgorund: #242424; //块背景颜色
  --logo-backgorund: #242424; //logo背景颜色

  /**
   * 侧边栏：Header
   */

  --blog-header-border: black;

  /**
   * 侧边栏: Config
   */

  --blog-config-header-bg: rgb(29, 29, 29); //背景颜色
  --blog-config-header-border: black; //border颜色
  --blog-config-submit-color: #a8a8a8; //submit按钮文字颜色
  --blog-config-submit-bg: black; //submit按钮背景颜色
  --blog-config-sort-border: #4c4d4f; //sort边框颜色
  --blog-config-sort-color: #a8a8a8; //sort文字颜色

  /**
   * 侧边栏导航
   */

  --blog-nav-color: #a8a8a8; //导航文字颜色
  --blog-nav-hover-bg: black; //导航hover颜色
  --blog-nav-border: #4c4d4f; //移动端导航边框颜色

  // —————————————————————————— article组件 —————————————————————————— //

  --blog-article-item-bg: #242424; //article-item 背景颜色
  --blog-article-item-title-color: #a8a8a8; // article-item title文字颜色

  // —————————————————————————— detail页面 —————————————————————————— //

  --detail-bg: black; //背景颜色
  --detail-header-bg: #242424; //header背景颜色
  --detail-header-border: rgba(84, 84, 84, 0.48); //border颜色
  --detail-header-bg-img: radial-gradient(transparent -5px, var(--detail-header-bg) 2px); //header背景图片
  --detail-content-bg: #242424; //content背景颜色
  --detail-content-color: #a8a8a8; //content文字颜色

  /**
   * markdown github主题
   */

  --detail-md-github-code-bg: #f6f8fa;

  // —————————————————————————— themeSwitch组件 —————————————————————————— //

  --theme-switch-color: #a8a8a8;

  // —————————————————————————— home页面 —————————————————————————— //
  --home-backgorund: linear-gradient(
      12deg,
      rgba(193, 193, 193, 0.08) 0%,
      rgba(193, 193, 193, 0.08) 2%,
      rgba(129, 129, 129, 0.08) 2%,
      rgba(129, 129, 129, 0.08) 27%,
      rgba(185, 185, 185, 0.08) 27%,
      rgba(185, 185, 185, 0.08) 66%,
      rgba(83, 83, 83, 0.08) 66%,
      rgba(83, 83, 83, 0.08) 100%
    ),
    linear-gradient(
      321deg,
      rgba(240, 240, 240, 0.08) 0%,
      rgba(240, 240, 240, 0.08) 13%,
      rgba(231, 231, 231, 0.08) 13%,
      rgba(231, 231, 231, 0.08) 34%,
      rgba(139, 139, 139, 0.08) 34%,
      rgba(139, 139, 139, 0.08) 71%,
      rgba(112, 112, 112, 0.08) 71%,
      rgba(112, 112, 112, 0.08) 100%
    ),
    linear-gradient(
      236deg,
      rgba(189, 189, 189, 0.08) 0%,
      rgba(189, 189, 189, 0.08) 47%,
      rgba(138, 138, 138, 0.08) 47%,
      rgba(138, 138, 138, 0.08) 58%,
      rgba(108, 108, 108, 0.08) 58%,
      rgba(108, 108, 108, 0.08) 85%,
      rgba(143, 143, 143, 0.08) 85%,
      rgba(143, 143, 143, 0.08) 100%
    ),
    linear-gradient(
      96deg,
      rgba(53, 53, 53, 0.08) 0%,
      rgba(53, 53, 53, 0.08) 53%,
      rgba(44, 44, 44, 0.08) 53%,
      rgba(44, 44, 44, 0.08) 82%,
      rgba(77, 77, 77, 0.08) 82%,
      rgba(77, 77, 77, 0.08) 98%,
      rgba(8, 8, 8, 0.08) 98%,
      rgba(8, 8, 8, 0.08) 100%
    ),
    linear-gradient(334deg, rgb(5, 5, 5), rgb(5, 5, 5));
}
