.dark {
  --base-color: white;
  --blog-backgorund: #000000;
  --theme-switch-color:blue;
  --blog-block-color: #242424;
  --logo-backgorund:#464646;
  --boxShadow: 0 2px 2px 0 rgba(255, 255, 255, 0.12), 0 3px 1px -2px rgba(255, 255, 255, 0.06), 0 1px 5px 0 rgba(255, 255, 255, 0.12);






































  --home-backgorund: linear-gradient(
      12deg,
      rgba(193, 193, 193, 0.08) 0%,
      rgba(193, 193, 193, 0.08) 2%,
      rgba(129, 129, 129, 0.08) 2%,
      rgba(129, 129, 129, 0.08) 27%,
      rgba(185, 185, 185, 0.08) 27%,
      rgba(185, 185, 185, 0.08) 66%,
      rgba(83, 83, 83, 0.08) 66%,
      rgba(83, 83, 83, 0.08) 100%
    ),
    linear-gradient(
      321deg,
      rgba(240, 240, 240, 0.08) 0%,
      rgba(240, 240, 240, 0.08) 13%,
      rgba(231, 231, 231, 0.08) 13%,
      rgba(231, 231, 231, 0.08) 34%,
      rgba(139, 139, 139, 0.08) 34%,
      rgba(139, 139, 139, 0.08) 71%,
      rgba(112, 112, 112, 0.08) 71%,
      rgba(112, 112, 112, 0.08) 100%
    ),
    linear-gradient(
      236deg,
      rgba(189, 189, 189, 0.08) 0%,
      rgba(189, 189, 189, 0.08) 47%,
      rgba(138, 138, 138, 0.08) 47%,
      rgba(138, 138, 138, 0.08) 58%,
      rgba(108, 108, 108, 0.08) 58%,
      rgba(108, 108, 108, 0.08) 85%,
      rgba(143, 143, 143, 0.08) 85%,
      rgba(143, 143, 143, 0.08) 100%
    ),
    linear-gradient(
      96deg,
      rgba(53, 53, 53, 0.08) 0%,
      rgba(53, 53, 53, 0.08) 53%,
      rgba(44, 44, 44, 0.08) 53%,
      rgba(44, 44, 44, 0.08) 82%,
      rgba(77, 77, 77, 0.08) 82%,
      rgba(77, 77, 77, 0.08) 98%,
      rgba(8, 8, 8, 0.08) 98%,
      rgba(8, 8, 8, 0.08) 100%
    ),
    linear-gradient(334deg, rgb(5, 5, 5), rgb(5, 5, 5));
}
